*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.8;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-feature-settings: 'pkna';
  letter-spacing: 0.05em;
}

h1, h2, h3 {
  font-size: 40px;
  font-weight: 200;
}

a {
  text-decoration: none;
}

a, a:visited, a:active {
  color: #00c;
}

a:hover {
  opacity: .8;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  margin: 20px;
}

.content > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 0;
  list-style: none;
}

.content > ul > li {
  width: 100%;
  padding: 0 20px;
  margin-bottom: .5em;
  white-space: nowrap;
}

.content > ul > li span {
  margin-right: 1em;
}

.content > ul > li small {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .content {
    margin: 40px;
  }
  .content > ul > li {
    width: 50%;
    padding: 0 20px
  }
}
